// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#toolbar { 
  left: 400px; width: 100%; position: fixed; height: 40px; background: #000; color: #FFFFFF;
} 
